#define IDD_DLG_MAIN 1000
#define IDC_BTN_PROCESS 1001
#define IDC_BTN_INJECT 1002
#define IDC_EDT_PROCESS 1003
#define IDC_CODE 1004
#define IDD_DLG_LISTVIEW 1100
#define IDC_LST_PROCESS 1101
#define IDC_BTN_OK 1102

IDD_DLG_MAIN DIALOGEX 27,57,381,147
CAPTION "x32codeInjecter"
FONT 9,"宋体",400,0,134
STYLE 0x10CF0000
BEGIN
  CONTROL " 选择进程",IDC_BTN_PROCESS,"Button",0x50010000,9,6,63,24
  CONTROL "",IDC_EDT_PROCESS,"Edit",0x50010000,78,6,204,21,0x00000200
  CONTROL "此处编写32位汇编代码：",IDC_CODE,"RichEdit20A",0x50011004,12,39,267,105,0x00000200
  CONTROL "注入",IDC_BTN_INJECT,"Button",0x50010000,288,117,63,27
END

IDD_DLG_LISTVIEW DIALOGEX 10,10,246,273
CAPTION "选择进程"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_LST_PROCESS,"ListBox",0x50010141,0,0,246,243,0x00000200
  CONTROL "选择要注入的进程",IDC_BTN_OK,"Button",0x50010000,126,249,108,18
END

